Source: mfloat
Section: libs
Priority: optional
Maintainer: mhduiy
Build-Depends:
 debhelper-compat ( =12),
 cmake,
 build-essential,
 qt6-base-dev,
 qt6-declarative-dev,
 qt6-base-dev-tools,
 qt6-tools-dev,
 qml6-module-qtquick-layouts,
 qml6-module-qtquick-window,
 qml6-module-qt-labs-platform,
 qml6-module-qtquick-controls2-styles-chameleon
Standards-Version: 0.0.1


Package: mfloat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: MFloat controls
 Implemented a QML control containing exquisite animations.
